body{
    background-color: rgb(32, 56, 88);
    font: normal 15pt;
    text-align: center;

}

header{
    text-align: center;
    color: white;

}

section{
    background-color: white;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288);

}

div{
    padding: 8px;
}

footer{
    font-style: italic;
    text-align: center;
    color: white;

}

